.IDEContainer {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  height: 100%;
  background-color: #fafafa;
}

.text {
  color: #212529;
}

.containerColor {
  background-color: #fafafa;
}
